/***************************/
/*        Dark Mode        */
/***************************/
/*   uah.instructure.com   */
/***************************/
/* Written by David Sharpe */
/*      ds0196@uah.edu     */
/***************************/


[class*="-textInput__facade"] {
    background: #2c2c2c;
    border: 1px solid #3c3c3c !important;
}

[class*="-inlineSVG-svgIcon"] {
    color: #ffffff;
}

[class*="-radioInput__label"] {
    color: #6c6c6c;
}

/* Misc buttons */
[class*="-baseButton__content"] {
    background: #292929;
    border-color: #3c3c3c;
    color: #eaeaea !important;
}
a[class$="-view--inlineBlock-baseButton"]:active {
    background: #0e0e0e;
}
button[class$="-view--block-baseButton"],
button[class$="-view--block-baseButton"]:hover,
span[class$="-view--block-baseButton"],
span[class$="-view--block-baseButton"]:hover {
    background: #0e0e0e;
}

/* Side bar bubble numbers */
ul#menu.ic-app-header__menu-list span.menu-item__badge>span,
div#sticky-container.ic-sticky-frame li>a>b {
    color: #252525;
}

/* Side bar course subtext */
div.tray-with-space-for-global-nav span ul>li>div {
    color: var(--bctext-1);
}

/* Side bar selected main item */
ul#menu.ic-app-header__menu-list>li.ic-app-header__menu-list-item--active>a {
    background-color: rgb(44, 105, 125) !important;
}
ul#menu.ic-app-header__menu-list>li.ic-app-header__menu-list-item--active>a svg {
    fill: var(--bcsidebar-text) !important;
}


/***************************/
/*        Dashboard        */
/***************************/

/* Notification Message */
div.ic-notification span.notification_message p>span {
    color: #8e8e8e !important;
}

/* After closing message */
div#announcementWrapper div[data-testid="globalAnnouncementsAlert"] {
    color: #8e8e8e;
}

/* SIE Message */
div#dvInner_SeriousTask {
    border: 1px solid #494949 !important;
}
div#dvInner_SeriousTask>div> div+div> div {
    border-top: 1px solid #494949;
}
div#dvInner_SeriousTask>div> div+div> div>a {
    border-bottom: 1px solid #494949;
}
div#dvInner_SeriousTask>div> div+div+div {
    border: 1px solid var(--bcbackground2) !important;
}
div#dvInner_SeriousTask>div> div+div+div> div {
    background-color: var(--bcbackground-2);
}

/* "Dashboard View" popup */
body>span>span[data-position-content="Menu_0"]>span {
    background-color: #222;
}
body>span>span[data-position-content="Menu_0"] ul,
body>span>span[data-position-content="Menu_0"] li,
body>span>span[data-position-content="Menu_0"] li>span{
    background-color: #363636;
}
body>span>span[data-position-content="Menu_0"] li span[class$="-menuItemGroup__label"] {
    background-color: #363636;
    color: #fff;
}
body>span>span[data-position-content="Menu_0"] li>span>span>span {
    color: #c8c8c8;
}
body>span>span[data-position-content="Menu_0"] li span#MenuItemGroup_0>span {
    color: #fff;
}


/***************************/
/*       Grades page       */
/***************************/

/* Feedback button */
td.details>a.toggle_comments_link.tooltip {
    background-color: #333 !important;
    border: 1px solid #222 !important;
}

/* Feedback popup */
span[data-testid="submission-tray"] {
    scrollbar-color: #999 #2b2b2b;
}
span[data-testid="submission-tray"]>div>div {
    background-color: #2b2b2b;
}
span[data-testid="submission-tray"]>div>div>div>div[class$="-view"] {
    color: #b9b9b9;
    background-color: #404040;
}

/* Selected assignment */
tr.student_assignment.selected-assignment {
    background: #424242;
}

/* "late" */
[class$="-pill"] {
    background: #000;
    color: rgb(2, 150, 234);
}


/***************************/
/*      Calendar page      */
/***************************/

/* Event clicked popup */
body>div.event-details {
    background-color: #141414 !important;
}


/***************************/
/*      Modules page       */
/***************************/

/* "Drop files here to add to module" */
label[class$="-fileDrop__label"] span[class$="-view-billboard"] {
    background-color: #181818;
}
label[class$="-fileDrop__label"] span[class$="-view-billboard"] span[class$="-view-heading"] {
    color: #afafaf;
}
label[class$="-fileDrop__label"] span[class$="-fileDrop__labelContent"] {
    border: 0.125rem dashed #5c5c5c;
}


/***************************/
/*    Quiz details page    */
/***************************/

/* Quiz score */
div#content div#quiz_show div.quiz-submission span.score_value {
    color: #f5f5f5;
}


/***************************/
/*     Assignments page    */
/***************************/

X#grades_summary a.toggle_comments_link,
#grades_summary a.toggle_rubric_assessments_link {
    background-color: #1f1f1f;
    border: 1px solid #3c3c3c;
}

/* Uploaded files list */
table[data-testid="uploaded_files_table"] tbody tr td {
    background: #262626;
}
table[data-testid="uploaded_files_table"] thead tr th {
    color: #aaa;
}
table[data-testid="uploaded_files_table"] tbody tr td[data-testid="file-size"] {
    color: #aaa;
}


/*****************************/
/*  Assignment details page  */
/*****************************/

/* Header */
div[data-testid="assignments-2-student-view"]>div[class$="-view"] {
    background-color: #161616;
}

/* Header text */
div[data-testid="assignments-2-student-view"] span[class$="-text"] {
    color: #aaa;
}

/* "Canvas Files" */
button[class$="-view--block-baseButton"] span[class$=""] {
    color: #eaeaea;
}

/* Turnitin Similarity score */
a.turnitin_similarity_score {
    color: #eee !important;
}

/* Attempt tab */

/* Drag a file here box */
div[data-testid="attempt-tab"] span[class$="-view--block"] span[class$="-view--flex-flex"] {
    background-color: #292929;
}
div[data-testid="attempt-tab"] span[class$="-fileDrop__labelContent"] {
    border-color: #575757;
}
/* "Files permitted" */
div[data-testid="attempt-tab"] span[class$="-fileDrop__labelContent"] span[class$="-view--flex-flex"] span[class$="-view-flexItem"]+span span+span+span {
    color: #838383;
}

/* "or" */
div#content.ic-Layout-contentMain div[data-testid="upload-box"]>span>div>div>span {
    background-color: #1e1e1e !important;
}

/* "File name" header */
span[data-testid="upload-pane"] table>thead th {
    color: #999;
}

/* Item uploaded background */
span[data-testid="upload-pane"] table>tbody>tr>td {
    background-color: #1e1e1e;
}
/* Item uploaded name */
span[data-testid="upload-pane"] table>tbody>tr>td>span {
    color: #cecece;
}


/***************************/
/*         Rubrick         */
/***************************/

/* "Select Grader" */
[class*="-formFieldLayout"] [class*="-formFieldLabel"] {
    color: #c4c4c4;
}

.react-rubric table th,
.react-rubric table td {
    background: #1f1f1f;
    color: #e8e8e8;
    border: 2px solid #363535;
}

.react-rubric table td div.rating-tier {
    border-left: 3px solid #5a5a5a;
}


/***********************************/
/*  Assignment Submission Preview  */
/***********************************/

div iframe {
    border-left: none !important;
}

/* pure text submission */
div[data-testid$="-student-view"]>div[data-testid$="-student-content-tabs"]>span>div>div>div {
    background-color: var(--bcbackground2) !important;
    border-color: #171717 !important;
}


/***************************/
/*        Inbox Page       */
/***************************/

/* Checkbox */
span#inbox-conversation-holder div[class$="-checkbox"]>label>span>span {
    background-color: #252525;
}


/***************************/
/*   Compose Message Box   */
/***************************/

/** Background fade */
.transition--fade-entered,
[class*="-mask"] {
    background: rgba(25, 25, 25, 0.75);
}

[class*="-modal"] {
    background: #161616;
    border-color: #3c3c3c;
}

[class*="-view--block-modalBody"] {
    color: #e8e8e8;
}

[class*="-checkboxFacade__label"] {
    color: #a0a0a0;
}

[class*="-view-tag"] {
    background: #292929;
    border-color: #3c3c3c;
}
[class*="-tag__text"] {
    color: #e8e8e8;
}

[class*="-view"] {
    border-color: #3c3c3c;
}


/***************************/
/*   Compose Message Box   */
/***************************/

/* Selected file */
div.ef-directory div.ef-item-row.ef-item-selected {
    background-color: #2f2f2f;
}


/***************************/
/*   Compose Message Box   */
/***************************/

/* Header at top of page */
#root {
    background-color: #000;
}
