/***************************/
/*        Dark Mode        */
/***************************/
/*   uah.instructure.com   */
/***************************/
/* Written by David Sharpe */
/*      ds0196@uah.edu     */
/***************************/


[class*="-textInput__facade"] {
    background: #2c2c2c;
    border: 1px solid #3c3c3c !important;
}

[class*="-inlineSVG-svgIcon"] {
    color: #ffffff;
}

[class*="-radioInput__label"] {
    color: #6c6c6c;
}


/***************************/
/*      Modules page       */
/***************************/

/* "Drop files here to add to module" */
label[class$="-fileDrop__label"] span[class$="-view-billboard"] {
    background-color: #181818;
}
label[class$="-fileDrop__label"] span[class$="-view-billboard"] span[class$="-view-heading"] {
    color: #afafaf;
}
label[class$="-fileDrop__label"] span[class$="-fileDrop__labelContent"] {
    border: 0.125rem dashed #5c5c5c;
}


/***************************/
/*    Quiz details page    */
/***************************/

/* Quiz score */
div#content div#quiz_show div.quiz-submission span.score_value {
    color: #f5f5f5;
}


/***************************/
/*     Assignments page    */
/***************************/

X#grades_summary a.toggle_comments_link,
#grades_summary a.toggle_rubric_assessments_link {
    background-color: #1f1f1f;
    border: 1px solid #3c3c3c;
}

[class$="-pill"] {
    background: #000;
    color: rgb(2, 150, 234);
}


/******************************/
/*  Assignments details page  */
/******************************/

/* Header */
div[data-testid="assignments-2-student-view"]>div[class$="-view"] {
    background-color: #161616;
}

/* Header text */
div[data-testid="assignments-2-student-view"] span[class$="-text"] {
    color: #aaa;
}

/* Misc buttons */
[class*="-baseButton__content"] {
    background: #292929;
    border-color: #3c3c3c;
    color: #eaeaea !important;
}
a[class$="-view--inlineBlock-baseButton"]:active {
    background: #0e0e0e;
}

/* "Canvas Files" */
button[class$="-view--block-baseButton"] span[class$=""] {
    color: #eaeaea;
}

/* Turnitin Similarity score */
a.turnitin_similarity_score {
    color: #eee !important;
}

/* Attempt tab */

/* Drag a file here box */
div[data-testid="attempt-tab"] span[class$="-view--block"] span[class$="-view--flex-flex"] {
    background-color: #292929;
}
div[data-testid="attempt-tab"] span[class$="-fileDrop__labelContent"] {
    border-color: #575757;
}
/* "Files permitted" */
div[data-testid="attempt-tab"] span[class$="-fileDrop__labelContent"] span[class$="-view--flex-flex"] span[class$="-view-flexItem"]+span span+span+span {
    color: #838383;
}

/* "or" */
div#content.ic-Layout-contentMain div[data-testid="upload-box"]>span>div>div>span {
    background-color: #1e1e1e !important;
}

/* "File name" header */
span[data-testid="upload-pane"] table>thead th {
    color: #999;
}

/* Item uploaded background */
span[data-testid="upload-pane"] table>tbody>tr>td {
    background-color: #1e1e1e;
}
/* Item uploaded name */
span[data-testid="upload-pane"] table>tbody>tr>td>span {
    color: #cecece;
}


/***************************/
/*         Rubrick         */
/***************************/

/* "Select Grader" */
[class*="-formFieldLayout"] [class*="-formFieldLabel"] {
    color: #c4c4c4;
}

.react-rubric table th,
.react-rubric table td {
    background: #1f1f1f;
    color: #e8e8e8;
    border: 2px solid #363535;
}

.react-rubric table td div.rating-tier {
    border-left: 3px solid #5a5a5a;
}


/***********************************/
/*  Assignment Submission Preview  */
/***********************************/

div iframe {
    border-left: none !important;
}


/***************************/
/*   Compose Message Box   */
/***************************/

/** Background fade */
.transition--fade-entered,
[class*="-mask"] {
    background: rgba(25, 25, 25, 0.75);
}

[class*="-modal"] {
    background: #161616;
    border-color: #3c3c3c;
}

[class*="-view--block-modalBody"] {
    color: #e8e8e8;
}

[class*="-checkboxFacade__label"] {
    color: #a0a0a0;
}

[class*="-view-tag"] {
    background: #292929;
    border-color: #3c3c3c;
}
[class*="-tag__text"] {
    color: #e8e8e8;
}

[class*="-view"] {
    border-color: #3c3c3c;
}
