/***************************/
/*        Dark Mode        */
/***************************/
/*     duosecurity.com     */
/***************************/
/* Written by David Sharpe */
/*      ds0196@uah.edu     */
/***************************/

.app {
    background: #171717;
}

.card {
    background: #2a2a2a;
    color: #b6b6b6;
}

/* "Send a text passcode" */
h1 {
    color: #eaeaea;
}

/* "Send a passcode" */
.button--primary--full-width,
.c--primary {
    background: #5a5a5a;
    border-color: #444;
    color: #b6c9ff;
}

/* "Need help?" in bottom left */
.help-link {
    color: #73a5b7;
}

/***************************/
/*   Enter your passcode   */
/***************************/

/* Passcode input */
input {
    color: #d8d8d8;
}

/* "Verify" */
button.verify-button:disabled {
    background: #383838;
    border-color: #2b2b2b;
    color: #535d7c;
}