/***************************/
/*        Dark Mode        */
/***************************/
/*       sso.uah.edu       */
/*  /idp/profile/cas/login */
/*     ?execution=e1s2     */
/***************************/
/* Written by David Sharpe */
/*      ds0196@uah.edu     */
/***************************/

div.wrapper {
    background: #0f0f0f;
}

div.content { /* p holder */
    background: #272727;
}

h3 { /* Web Login Service - Stale Request */
    color: #c4c4c4;
}

div.content p {
    color: #fff;
}

p.footer-text {
    color: #b7b7b7;
}